* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1350px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: bisque;
  padding: 6vh;
  height: 10vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

header > h4 {
  font-size: 5vh;
}

main {
  background-color: bisque;
  height: 30vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 7vh;
}

main:last-child {
  display: block;
}

input {
  height: 4vh;
  width: 9vw;
  text-align: center;
}

select {
  height: 4vh;
  width: 5vw;
  margin: 1vh;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

footer {
  height: 46vh;
  width: 100vw;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media only screen and (max-width: 1200px) {
  header {
    width: 90vw;
    height: 20vh;
  }
  main {
    width: 90vw;
    height: 40vh;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 30px;
  }
  input,
  select {
    height: 8vh;
    width: 15vw;
    text-align: center;
    font-size: 2vh;
    min-width: 100px;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .svg-size {
    font-size: 5em;
  }
}
